---
import { Image } from "@astrojs/image/components";
import { useSanityClient } from "astro-sanity";

type Photo = { url: string };

export async function getGalleryPhotos(): Promise<Photo[]> {
  const query = `*[_type == "gallery"] {
  "url": image.asset->url
}`;

  const listOfCategories = await useSanityClient().fetch(query);

  return listOfCategories;
}

const photos = await getGalleryPhotos();
---

<div class="brick-background py-[6em] flex">
  <section
    class="w-full px-4 mx-auto max-w-5xl grid sm:grid-cols-2 gap-3 sm:gap-5 overflow-hidden"
  >
    <div>
      <Image
        src={photos[0]?.url || "/assets/gallery_alt.png"}
        for="my-modal-4"
        alt="platillos alrededor"
        format="webp"
        width={600}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
    </div>
    <div class="grid grid-cols-2 gap-3 sm:gap-5">
      <Image
        for="my-modal-2"
        src={photos[1]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[2]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[3]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[4]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
    </div>
    <div class="grid grid-cols-2 gap-3 sm:gap-5">
      <Image
        src={photos[5]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[6]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[7]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
      <Image
        src={photos[8]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={300}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
    </div>
    <div>
      <Image
        src={photos[9]?.url || "/assets/gallery_alt.png"}
        alt="platillos alrededor"
        format="webp"
        width={600}
        aspectRatio={1 / 1}
        class="rounded-md shadow"
      />
    </div>
  </section>
</div>
