---
import { Image } from "@astrojs/image/components";
---

<section class="text-base-content relative z-30 py-14">
  <div
    class="container space-y-8 p-16 md:my-8 md:grid md:grid-cols-2 md:items-center md:space-y-0"
  >
    <div
      class="text-center w-full max-w-sm sm:max-w-md mx-auto space-y-6 md:ml-0 md:text-start"
    >
      <h2 class="text-5xl sm:text-6xl font-semibold text-neutral-content">
        Productos Keto Friendly
      </h2>
      <p class="text-base-content md:text-lg">
        Ketobakery maneja postres keto, lowcarb, glutenfree, sin lácteos y/o
        veganos; además de barra de café en donde podrás encontrar bebidas
        deliciosas.
      </p>
      <a href="#categories" class="block"><button class="btn btn-primary bg-primary lg:btn-lg shadow"
        >Ver productos</button
      ></a>
    </div>

    <Image
      class="relative image mx-auto md:mr-0 w-96 md:max-w-xs lg:max-w-7xl object-cover"
      src="/assets/undrawdonut2.svg"
      format="webp"
      width={891.38051}
      height={573.8863}
      alt="header side image"
    />
    <!-- <img
    class="image mx-auto md:mr-0 md:max-w-xs lg:max-w-xl"
    src="assets/woltor.png"
    alt="."
  /> -->
  </div>
</section>
