---
---

<section>
  <div class="curved hidden md:block"></div>
</section>

<style lang="scss">
  section {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .curved {
    position: relative;
    background: #f2e8de;
    height: 20vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
</style>
