---
import { useSanityClient } from "astro-sanity";
import { RiFilePaper2Line, RiXboxLine } from "react-icons/ri/index.js";

import type { APIRoute, GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { transformDate } from "../../utils";
import { PortableText } from "astro-portabletext/.";
import type { Post } from "./[page].astro";

type Path = {
  params: {
    id: string;
  };
  props: Post;
};

export const getStaticPaths: GetStaticPaths = async () => {
  const query = `*[_type == "post"] {
      _id,
      publishedAt,
      text,
      title,
      "imageUrl":image.asset->url
      }`;

  const listOfPosts = (await useSanityClient().fetch(query)) as Post[];
  const paths = listOfPosts?.map(
    ({ _id, publishedAt, text, title, imageUrl }): Path => {
      return {
        params: { id: _id.toString() },
        props: {
          _id,
          publishedAt,
          text,
          title,
          imageUrl,
        },
      };
    }
  );

  return paths;
};

type Props = Post;


const props = Astro.props;
---

<Layout title={props.title}>
  <main
    class="max-w-full lg:w-[48rem] mx-auto px-6 md:px-12 rounded-md pt-4 pb-14"
  >
    <div
      class="flex justify-between text-lg items-center sticky top-0 bg-base-200"
    >
      <a href="/blog/1"
        ><button
          onclick="history.back()"
          class="btn btn-link text-base-content text-lg flex items-center space-x-2 px-0 no-underline"
          >{"<"}<RiFilePaper2Line /><span>Blog</span>
        </button>
      </a>

      <p class="text-gray-500 mr-4">
        {transformDate(props?.publishedAt)}
      </p>
    </div>

    <img
      class="block mx-auto rounded-lg"
      src={`${props?.imageUrl}?w=700&fm=webp`}
      alt="alt"
    />
    <section class="space-y-3">
      <PortableText value={props?.text} />
    </section>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #213547;
  }
  ul {
    list-style: disc;
    padding-left: 2em;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
</style>
