---
import { useSanityClient } from "astro-sanity";
import Layout from "../../layouts/Layout.astro";
import { transformDate } from "../../utils";
import { RiFilePaper2Line } from "react-icons/ri/index.js";
import { PortableText } from "astro-portabletext";

import type { Post } from "./[page].astro";
import type { GetStaticPaths } from "astro";

type Path = {
  params: {
    id: string;
  };
  props: Post;
};

export const getStaticPaths: GetStaticPaths = async () => {
  const query = `*[_type == "post"]{
  _id,
  publishedAt,
  text,
  title,
}`;

  const listOfPosts = (await useSanityClient().fetch(query)) as Post[];

  const paths = listOfPosts?.map(
    ({ _id, publishedAt, text, title }): Path => ({
      params: { id: _id.toString() },
      props: {
        _id,
        publishedAt,
        text,
        title,
      },
    })
  );

  return paths;
};

type Props = Post;

const props = Astro.props;
---

<Layout title={props.title}>
  <main class="max-w-full lg:w-[48rem] mx-auto px-6 md:px-12 rounded-md">
    <div
      class="flex justify-between text-lg items-center sticky top-0 bg-base-100"
    >
      <a
        ><button
          onclick="history.back()"
          class="btn btn-link text-base-content text-lg flex items-center space-x-2 px-0 no-underline"
          >{"<"}<RiFilePaper2Line /><span>Blog</span>
        </button>
      </a>

      <p class="text-gray-500 mr-4">
        {transformDate(props?.publishedAt)}
      </p>
    </div>

    <img
      class="block mx-auto rounded-lg"
      src="/assets/products.jpg"
      alt="alt"
    />
    <section class="space-y-3">
      <PortableText value={props?.text} />
    </section>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #213547;
  }
  ul {
    list-style: disc;
    padding-left: 2em;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
</style>
