---
import Layout from "../layouts/Layout.astro";
import Products from "../features/products/Products.astro";
import AboutProducts from "../features/products/AboutProducts.astro";
import WaveVariant from "../features/WaveVariant.astro";
import HeroSection from "../features/HeroSection.astro";
import { Image } from "@astrojs/image/components";
import Shape from "../features/Shape.astro";
import Gallery from "../features/Gallery.astro";
---

<Layout title="Keto Bakery">
  <div class="w-full bg-base-200 text-base-content">
    <HeroSection />
    <AboutProducts />
    <section class="bg-[#DEEDEC]/40 min-h-screen">
      <div class="text-center pt-12">
        <h3 class="text-4xl font-semibold text-primary-content" id="categories">
          Productos
        </h3>
      </div>
      <Products />
    </section>

    <Gallery />
    <Shape />
  </div>
</Layout>
