---
import { Navbar } from "../components/navbar/Navbar";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutProducts from "../components/AboutProducts.astro";
import Products from "../components/Products.astro";
import Footer from "../components/Footer.astro";
import Wave from "../components/Wave.astro";
import WaveVariant from "../components/WaveVariant.astro";
// REMEMBER TO CHECK WAVE TOP RIGHT CIRCULAR
---

<Layout title="Ketobakery">
  <div class="wrapper bg-base-100 text-base-content">
    <Hero />
    <AboutProducts />
    <section class="container text-center pt-10">
      <h3 class="text-3xl font-medium text-neutral-content" id="categories">Productos</h3>
      <p class="divider">Recoja sus productos en tienda</p>
    </section>
    <Products />

    <WaveVariant />
  </div>
</Layout>
