---
import Layout from "../layouts/Layout.astro";
import Products from "../features/products/Products.astro";
import AboutProducts from "../features/products/AboutProducts.astro";
import WaveVariant from "../features/WaveVariant.astro";
import HeroSection from "../features/HeroSection.astro";
---

<Layout title="Ketobakery">
  <div class="wrapper w-full bg-base-200 text-base-content">
    <HeroSection />
    <AboutProducts />
    <section class="">
      <div class="text-center pt-12 ">
        <h3 class="text-3xl font-medium text-neutral-content" id="categories">
          Productos
        </h3>
      </div>
      <Products />
    </section>
    <section class="py-4">
      <img
        src="/assets/bottomDish.webp"
        alt="platillos alrededor"
        class="mx-auto"
      />
    </section>
    <WaveVariant />
  </div>
</Layout>
