---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { useSanityClient } from "astro-sanity";

type Schedule = {
  lunes: string[];
  martes: string[];
  miercoles: string[];
  jueves: string[];
  viernes: string[];
  sabado: string[];
  domingo: string[];
};

export async function getSchedule(): Promise<Schedule> {
  const query = `*[_type == "schedule"] {
  lunes,
  martes,
  miercoles,
  jueves,
  viernes,
  sabado,
  domingo
}[0]`;
  const schedule = await useSanityClient().fetch(query);

  const scheduleOrdered = {
    lunes: schedule.lunes,
    martes: schedule.martes,
    miercoles: schedule.miercoles,
    jueves: schedule.jueves,
    viernes: schedule.viernes,
    sabado: schedule.sabado,
    domingo: schedule.domingo,
  };

  return scheduleOrdered;
}

const schedule = await getSchedule();
---

<Layout title="Sobre nosotros">
  <main class="w-full">
    <section
      class="max-w-md md:max-w-5xl py-8 flex flex-col gap-5 md:flex-row mx-auto px-6"
    >
      <div class="md:w-1/2 md:ml-16 rounded-lg overflow-hidden">
        <!-- <img class="w-full rounded-lg" src="/assets/test.jpg" alt="" /> -->
        <Image
          src="/assets/platillos/KetoBakeryCafe_09.jpg"
          width={500}
          height={700}
          format="webp"
          alt="Sobre nosotros"
        />
      </div>

      <div
        class="md:w-1/2 md:relative top-10 right-16 md:rounded-lg shadow md:bg-secondary md:p-8 md:ring-1 md:ring-slate-900/5"
      >
        <h1 class="font-semibold text-3xl text-neutral-content">
          Quiénes somos
        </h1>
        <p class="pt-3">
          Ketobakery & coffee es una cafetería que ofrece postres saludables
          elaborados con ingredientes muy bajos o sin carbohidratos
          especialmente para ayudar a los que se encuentran en dieta cetogénica,
          low carb, gluten free, opciones veganas o con problemas de glucosa
          elevada (diabetes).
        </p>
        <p class="pt-3">
          En barra de café manejamos bebidas clásicas (americano, capuccino,
          moka frapes) y bebidas sin azúcar, chai, matcha, tés, tizanas...
        </p>
      </div>
    </section>

    <div class="bg-[#deeae1] py-12 px:2 md:px-6 mt-10">
      <section class="md:flex max-w-md md:max-w-6xl mx-auto gap-3 md:gap-12 ">
        <Image
          class="w-72 md:w-full rounded-lg h-full shadow-lg mx-auto mb-6 md:mb-0"
          src="/assets/about-me.jfif"
          width={400}
          aspectRatio={3 / 4}
          format="webp"
          alt="Sobre nosotros"
        />
        <section class="space-y-3 text-neutral-content/80 text-justify">
          <h2 class="text-4xl font-semibold mb-3 text-neutral-content/90 text-center md:text-left">
            Sobre mí
          </h2>
          <p>
            Mi nombre es Mary Álvarez y soy Licenciada en Nutrición egresada de
            la Universidad de Guadalajara (Univa Gdl). También realicé un
            posgrado en Nutrición Clínica en la Universidad del Valle de México,
            ya que me apasiona este campo. Además, cursé un diplomado en
            Educación y Acompañamiento en Diabetes.
          </p>

          <p>
            No solo te puedo ayudar a cumplir tus metas para perder peso o
            aumentar masa muscular, si no que me especializo en el cuidado del
            paciente mediante la alimentación en diferentes enfermedades, además
            de nutrición en el embarazo, lactancia, y diversas etapas de la
            vida.
          </p>

          <p>
            Amo la comida tanto como tú. Me gusta la cocina y me apasiona la
            repostería, es por eso que logro conectarme con mis pacientes y
            empatizar. No solo se trata de restringir alimentos, si no saber
            cuales elegir y en qué cantidad. Claro, no todo es sobre alimentos,
            si no mantener un equilibrio de cuerpo y mente para tener salud.
          </p>

          <p>
            Sumado a esto, ya tengo un par de años especializada en dieta keto,
            certificada y dedicada a su acompañamiento. Inicié mi negocio de
            postres keto o reducidos en azúcar de @keto Bakery, especial para
            pacientes con diabetes o aquellos que realizan el régimen Keto. Pero
            poco a poco se fueron sumando también colegas que nos brindan
            postres veganos, glutenfree, ketofriendly.
          </p>

          <p>Gracias por confiar en mí y en este proyecto 💞💞 ☺️🍉🍎!</p>
        </section>
      </section>
    </div>

    <section class="max-w-5xl mx-auto pb-12 px-6">
      <h2 class="text-neutral-content text-center mt-16 font-semibold text-3xl">
        Ubicación y horario
      </h2>
      <div class="flex flex-col md:flex-row gap-6 justify-center mt-6 mx-auto">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14934.553337310155!2d-105.2205893!3d20.6435935!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc83124a922e42fa!2sKeto%20Bakery%20%26%20Coffee!5e0!3m2!1ses-419!2smx!4v1667507221181!5m2!1ses-419!2smx"
          class="rounded-lg ring-1 ring-slate-900/5 shadow mx-auto md:mx-0 w-full h-96 md:h-auto"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div
          class="rounded-lg ring-1 ring-slate-900/5 w-72 mx-auto md:mx-0 md:w-auto p-6 bg-base-100"
        >
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th class="bg-base-100"></th>
                <th class="bg-base-100">Hora</th>
              </tr>
            </thead>
            <tbody class="overflow-hidden">
              <!-- map over schedule to achieve this structure in every element:
                 <tr>
                <th>Lunes</th>
                <td>
                  <span class="block">08:00 - 14:00</span>
                  <span class="block">15:00 - 21:00</span>
                </td>
              </tr> -->
              {
                Object.entries(schedule).map(([day, hours]) => {
                  // dont render if there are no hours
                  if (hours?.every((hour) => !hour)) return null;
                  return (
                    <tr>
                      <th>{day}</th>
                      <td>
                        {hours.map((hour) => {
                          if (!hour) return null;
                          if (hour === "Cerrado") {
                            return (
                              <span class="block font-semibold text-red-500">
                                {hour}
                              </span>
                            );
                          }
                          return <span class="block">{hour}</span>;
                        })}
                      </td>
                    </tr>
                  );
                })
              }
              <!-- row 3 -->
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</Layout>
