---
import {
  RiHome2Line,
  RiInformationLine,
  RiFilePaper2Line,
  RiContactsLine,
} from "react-icons/ri/index.js";
---

<div class="btm-nav h-12 sticky z-30 sm:hidden">
  <button class="active">
    <RiHome2Line />
  </button>
  <button>
    <RiInformationLine />
  </button>
  <button>
    <RiFilePaper2Line />
  </button>
  <button>
    <RiContactsLine />
  </button>
</div>
