---
---

<section class="text-base-content relative z-30 py-14">
  <div
    class="container space-y-8 p-16 md:my-8 md:grid md:grid-cols-2 md:items-center md:space-y-0"
  >
    <div
      class="text-center w-full max-w-sm sm:max-w-md mx-auto space-y-6 md:ml-0 md:text-start"
    >
      <h2 class="text-5xl sm:text-6xl font-semibold text-neutral-content">
        Bring all them together
      </h2>
      <p class="text-base-content font">
        Our cake bakery is small but with a big love for wonderful desserts is
        small but with a big love for wonderful desserts.
      </p>
      <button class="btn btn-primary bg-primary lg:btn-lg">Start now</button>
    </div>
    <img
      class="image w-96 mx-auto md:mr-0 md:max-w-xs lg:max-w-xl"
      src="assets/undrawdonut2.svg"
      alt="."
    />
    <!-- <img
    class="image mx-auto md:mr-0 md:max-w-xs lg:max-w-xl"
    src="assets/woltor.png"
    alt="."
  /> -->
  </div>
</section>
