---
---

<section class="text-base-content py-16 relative z-20">
  <div
    class="container space-y-8 md:grid md:grid-cols-2 md:items-center md:space-y-0"
  >
    <div
      class="text-center w-full max-w-sm sm:max-w-md mx-auto space-y-6 md:ml-0 md:text-start"
    >
      <h2 class="text-5xl sm:text-6xl font-bold">Bring all them together</h2>
      <p class="text-neutral-content">
        Our cake bakery is small but with a big love for wonderful desserts is
        small but with a big love for wonderful desserts.
      </p>
      <button class="btn btn-primary bg-primary lg:btn-lg">Start now</button>
    </div>
    <img
      class="image w-72 mx-auto md:w-full md:mr-0 md:max-w-xs lg:max-w-md"
      src="assets/hero.png"
      alt=""
    />
  </div>
</section>
