---
import { useSanityClient } from "astro-sanity";
import type { Category } from "../pages/products/[category].astro";

export async function getCategories(): Promise<Category[]> {
  try {
    const query = `*[_type == "category"]{
  _id, 
  description, 
  products[]->{_id, _type, price, priceSmall, priceMedium, priceLarge, title}, 
  title, 
  slug
}`;
    const listOfCategories = (await useSanityClient().fetch(
      query
    )) as Category[];

    return listOfCategories;
  } catch (err) {
    return [];
  }
}

const categories = await getCategories();
---

<section class="py-10">
  <div class="container">
    <div class="flex flex-wrap justify-center gap-8">
      {
        categories?.map((category: Category) => (
          <div class="card-compact card w-80 bg-base-100 shadow-xl">
            <figure>
              <img src="assets/products.jpg" alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{category?.title}</h2>
              <p>{category?.description}</p>
              <div class="card-actions justify-end">
                <a class="block" href={`/products/${category?.slug.current}`}>
                  <button class="btn btn-primary">Check out</button>
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
