---
---

<img class="absolute w-[1300px] top-0 right-0 z-20" src="assets/wavealt.svg" alt="" />

<!-- <section class="h-[600px] w-[1200px] bg-primary absolute top-0 right-0 z-20">
</section> -->

<style lang="scss">

</style>
