---
import "../style/base.css";
import { Navbar } from "../components/navbar/Navbar";
import Footer from "../components/Footer.astro";
import { useSanityClient } from "astro-sanity";

export interface Props {
  title: string;
}

export type Links = {
  facebookUrl: string;
  instagramUrl: string;
  uberEatsUrl: string;
};

export async function getSocialLinks(): Promise<Links> {
  const query = `*[_type == "links"] {
  facebookUrl,
  instagramUrl,
  uberEatsUrl
}[0]`;

  const links = await useSanityClient().fetch(query);

  return links;
}

const socialMediaLinks = await getSocialLinks();

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Ketobakery maneja postres keto, lowcarb, glutenfree, sin lácteos y/o
    veganos; además de barra de café en donde podrás encontrar bebidas
    deliciosas"
    />
    <link rel="icon" type="image/svg+xml" href="/keto-favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-base-200 flex flex-col min-h-screen relative">
    <Navbar {...socialMediaLinks} client:load />
    <div class="flex-1 flex">
      <slot />
    </div>
    <Footer {...socialMediaLinks} />
    <!-- <button
      class="p-6 rounded-full btn-primary fixed bottom-9 right-7 mt-1 shadow-lg"
      onclick="scrollTop()"
    >
      ^
    </button> -->
    <style is:global lang="scss"></style>
  </body>
</html>

<script>
  function scrollTop() {
    console.log("xd")
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
