---
import { Image } from "@astrojs/image/components";
---

<section class="bg-secondary py-12 relative z-30">
  <div
    class="container grid gap-4 place-content-center md:grid-cols-2 md:items-center"
  >
    <Image
      class="image w-72 mx-auto rounded-lg row-start-2 shadow md:row-start-auto md:w-full md:ml-0 md:max-w-md"
      src="/assets/platillos/KetoBakeryCafe_06.jpg"
      alt="platillos alrededor"
      format="webp"
      width={900}
      aspectRatio={16/9}
    />
    <div
      class="text-center w-full max-w-sm mx-auto space-y-3 row-start-1 md:row-start-auto sm:max-w-md md:mr-0 md:text-start"
    >
      <h3 class="text-4xl md:text-5xl font-medium text-secondary-content">
        Postres bajos en azúcar
      </h3>
      <p class="text-secondary-content opacity-90">
        Our cake bakery is small but with a big love for wonderful desserts is
        small but with a big love for wonderful desserts.
      </p>
    </div>
  </div>
</section>
